<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Primera Web</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Mis Hobbies</h1>
		</header>
		<nav>
			<a href="../index.html">Quien Soy</a>
			<a href="hobbies.html">Mis hobbies</a>
			<a href="familia.html">Mi familia</a>
		</nav>
		<section>
			<h2>Estos son mis Hobbies</h2>
			<p>Mi nombre es Mateo y en este espacio podrás encontrar un poco sobre mis hobbies</p>
			<img src="../assets/images/videojuego.jpg" alt="../assets/images/videojuego.jpg">
			<img src="../assets/images/videojuego1.jpg" alt="../assets/images/videojuego.jpg">
			<img src="../assets/images/box.jpg" alt="../assets/images/videojuego.jpg">
		</section>
		<footer>
			<p>Página realizada por Mateo Leyton &copy;Todos los derechos reservados 2024</p>
		</footer>
	</main>
</body>
</html>