<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Styles/Mi familia.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Mi familia"</title>
</head>
<body>
    <header>
        <nav>
            <a class="links" href="../index.html">Inicio</a>
            <a class="links"href="./Hobbies.html">Hobbies</a>
            <a class="links" href="./Pong Game.html">Juego chistoso</a>    
        </nav>
    </header>
    <h1>No tengo una :( </h1>

    <section>
        <p>Pero, Pillese esta imagen de una calavera toda chistosa socio</p>
        <img src="../Assets/images/imagenChistosa.jpg" width="500" height="500">
    </section>

    <footer>
        <p class="segundoParrafo">Todos los derechos reservados 2024. Hecho por: Yo we</p>
    </footer>
</body>
</html>